body{
  margin:0;
  padding:0;
}
a{
  text-decoration:none;
  color:inherit;
}

.align-center{
  display:flex;
  align-items: center;
  justify-content: center;
}
.full-height{  min-height: 90vh;}
.active{
  background-color:#f38732!important;
  color:#fff!important;
}
.logo{max-height: 30px;}
